div
  ep-spinner(v-if="!isInitialized")
  .editointikontrolli(v-else)
    .ylapaneeli(v-sticky sticky-offset="{ top: 50 }" sticky-z-index="500")
      .d-flex.align-items-center
        .p2.flex-fill.headerline
          slot(
            name="header",
            :isEditing="ctrls.isEditing",
            :data="state.data",
            :validation="$v.state.data")
        .p2(v-if="!ctrls.isEditing")
          .muokattu(v-if="latest") {{ $t('muokattu') }}: {{ $sdt(latest.pvm) }}, {{ latest.muokkaajaOid }}
          //- ep-versio-modaali(:value="current", :versions="historia")
        .p2
          .floating-editing-buttons
            ep-button.ml-4(
              v-if="ctrls.isEditing",
              @click="ctrls.cancel()",
              :disabled="state.disabled",
              variant="link")
              slot(name="peruuta") {{ $t('peruuta') }}
            ep-button.ml-4(
              @click="ctrls.save()",
              v-if="ctrls.isEditing",
              :disabled="state.disabled || $v.state.data.$invalid",
              variant="primary",
              :show-spinner="state.isSaving")
              slot(name="tallenna") {{ $t('tallenna') }}
            b-dropdown.ml-4.mr-4(
              v-if="ctrls.isEditing",
              size="md",
              variant="link",
              toggle-class="text-decoration-none",
              no-caret)
              template(slot="button-content")
                fas(icon="ellipsis-h")
              b-dropdown-item(
                v-if="hooks.remove",
                @click="ctrls.remove()",
                key="poista",
                :disabled="state.disabled")
                slot(name="poista") {{ $t('poista') }}
            ep-button(
              variant="link",
              @click="ctrls.start()",
              v-if="!ctrls.isEditing",
              icon="pen",
              :disabled="state.disabled")
              slot(name="muokkaa") {{ $t('muokkaa') }}
            // TODO: replace with chat icon
            ep-round-button.mr-2(
              v-if="hasKeskusteluSlot",
              @click="toggleSidebarState(1)",
              icon="ukk",
              variant="lightblue")
            ep-round-button.mr-2(
              v-if="hasOhjeSlot",
              @click="toggleSidebarState(2)",
              icon="question",
              variant="green")
            ep-round-button.mr-2(
              v-if="hasPerusteSlot",
              @click="toggleSidebarState(3)",
              icon="valtakunnalliset-perusteet",
              variant="pink")

    div(v-if="state.data")
      .threads
        .actual-content
          .sisalto
            slot(
              :isEditing="ctrls.isEditing",
              :data="state.data",
              :validation="$v.state.data")
        .rightbar.rb-keskustelu(v-if="hasKeskusteluSlot && sidebarState === 1")
          .rbheader
            b {{ $t('keskustelu') }}
          .rbcontent
            slot(
              name="keskustelu",
              :isEditing="ctrls.isEditing",
              :data="state.data",
              :validation="$v.state.data")
        .rightbar.rb-ohje(v-if="hasOhjeSlot && sidebarState === 2")
          .rbheader
            b {{ $t('ohje') }}
          .rbcontent
            slot(
              name="ohje",
              :isEditing="ctrls.isEditing",
              :validation="$v.state.data",
              :data="state.data")
        .rightbar.rb-peruste(v-if="hasPerusteSlot && sidebarState === 3")
          .rbheader
            b {{ $t('perusteen-teksti') }}
          .rbcontent
            slot(
              name="peruste",
              :isEditing="ctrls.isEditing",
              :validation="$v.state.data",
              :data="state.data")
