div
  ep-spinner(v-if="!isInitialized")
  .editointikontrolli(v-else)
    .ylapaneeli
      .d-flex.align-items-center
        .p2.flex-fill
          slot(name="header", :isEditing="ctrls.isEditing", :data="state.data", :validation="$v.state.data")
        .p2
          .muokattu(v-if="latest") {{ $t('muokattu') }}: {{ $sdt(latest.pvm) }}, {{ latest.muokkaajaOid }}
          //- ep-versio-modaali(:value="current", :versions="historia")
        .p2
          .upper-buttons(v-if="ctrls.isEditing")
            .btn-group
              ep-button(@click="ctrls.save()",
                :disabled="state.disabled || $v.state.data.$invalid",
                :show-spinner="state.isSaving")
                slot(name="tallenna") {{ $t('tallenna') }}
              ep-button(
                @click="ctrls.cancel()",
                :disabled="state.disabled",
                variant="warning")
                slot(name="peruuta") {{ $t('peruuta') }}
              // ep-button(
                v-if="ctrls.features.history",
                @click="ctrls.remove()",
                :disabled="state.disabled",
                variant="danger")
                slot(name="poista") {{ $t('poista') }}
          .upper-buttons(v-else)
            ep-button(
              variant="link",
              @click="ctrls.start()",
              icon="pen",
              :disabled="state.disabled")
              slot(name="muokkaa") {{ $t('muokkaa') }}

    .sisalto(v-if="state.data")
      slot(:isEditing="ctrls.isEditing", :data="state.data", :validation="$v.state.data")
